<style>
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
</style>
:root {
    --bg-color: #363062;
    --primary-color: #435585;
    --secondary-color: #F5E8C7;
}